<body class="d-flex h-100 text-justify text-bg-light">
  <div class="container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main class="px-3">
      <h1>MobileWorld</h1>
      <p class="lead">Welcome to MobileWorld!
<br><br>
        At MobileWorld,We provide all apple iphones at best price on our site.
        <br><br>
        Our team is working hard to get you best deals on iphones as fast as they can, so that you get a seemless experience on buying iphones from our site.
        <br><br>
        Thank You
        <br><br>
        Happy Shopping!
        <br><br>
        MobileWorld Team
      </p>
    </main>

  </div>
</body>